.about {
    .info {
        display: none;
        margin: auto;
        width: 175px;
        color: #ddd;
        font-size: 1em;
        
        img {
            margin-right: 10px;
        }

        a {
            color: #ddd;
        }
    }

    p.blurb {
        margin: 30px auto;
        width: 50%;
        line-height: 1.4;
        font-size: 1.1em;
        text-align: justify;
    }
}
