.contact {
    padding-top: 0;  /* necessary for form-alert positioning */
    
    h2, h3 {
        text-align: center;
    }

    h2 {
        padding-top: 75px;
        text-transform: lowercase;
    }

    h3 {
        margin-top: -20px;
        margin-bottom: 75px;
        color: #93b37f;
    }

    .gravatar {
        width: 80px;
        border: 1px solid #888;
    }
    
    .info {
        width: 40%;
        float: right;
        
        h4 {
            display: inline;
        }
        
        ul {
            list-style-type: none;
            padding: 0px;
            margin-top: 30px;
            
            li:last-child {
                margin-top: 1em;
            }
        }
    }

    form {
        input, textarea {
            display: block;
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #aaa;
            color: #666;
            font-size: 1.3em;
            font-family: $font-stack;
            font-weight: normal;
        }

        input {
            width: 30%;
        }

        textarea {
            width: 40%;
            height: 200px;
        }
    }
}
