footer {
    @extend .gray;
    padding: 15px 0px;
    text-align: center;
    text-transform: lowercase;
    
    em {
        text-transform: uppercase;
    }
    
    .links {
        margin-left: 100px;
    }
}
