$font-stack: calibri,helvetica-neue,helvetica,arial,sans-serif;
$gray: #e3e3e3;
$light-gray: #d3d3d3;
$primary-color: #75d;
$secondary-color: #3b3;
$tertiary-color: #f06;

* {
    /*transition-duration: .1s;*/
}

html * {
    margin: 0;
}

body {
    font-family: $font-stack;
    font-size: medium;
}

em {
    font-weight: bold;
    font-style: normal;
}

a, a:visited {
    opacity: 0.8;
}

a.button, a:hover, a:focus, a:active  {
    text-decoration: none;
    opacity: 1;
}

h2 {
    font-size: 2.3em;
}

.blurb {
    line-height: 1.3em;
    font-size: 1em;
    
    p {
        margin-bottom: 15px;
    }
}

section {
    padding: 75px 0px;
    color: #333;
    
    h2 {
        margin-bottom: 25px;
    }
}

ul.social-media {
    list-style-type: none;
    
    li {
        display: inline-block;
    }
    
    img {
        width: 1.3em;
        margin-right: 2px;
        opacity: 0.8;
    }

    img:hover {
        opacity: 1;
    }
}

img.gravatar {
    display: block;
    margin: auto;
    width: 150px;
    border: 2px solid $gray;
    box-shadow: 7px 7px 0px #bbb;
}
    
.button {
        padding: 8px 25px;
        background-color: $primary-color;
        font-weight: bold;
        box-shadow: 2px 2px 0px #003;
        color: #fff;
}

.button:hover {
        background-color: $secondary-color;
        text-decoration: none;
}

input.button {
    width: 150px !important;
    border: none !important;
    border-radius: 0px !important;
    color: #fff !important;
    cursor: pointer;
}

.clear {
    clear: both;
}

.grid {
    background-image: url("resources/backgrounds/grid.png");
}

.horizontal {
    background-image: url("resources/backgrounds/horizontal.png");
}

.dashed {
    background-image: url("resources/backgrounds/dashed.png");
}

.vertical {
    background-image: url("resources/backgrounds/vertical.png");
}

.purple {
    background-color: #339;
}

.green {
    background-color: #0f9712;
}

.aqua {
    background-color: #0da47f;
}

.blue {
    background-color: #3456c4;
}

.gray {
    background-color: $gray;
    color: #333;
}

.light-gray {
    background-color: #fafafa;
    color: #333;
}

#diamond {
    margin: auto;
    margin-bottom: 3em;
	width: 0;
	height: 0;
	border: 25px solid transparent;
	border-bottom: 10px solid $tertiary-color;
	position: relative;
	top: -25px;
}

#diamond:after {
	content: '';
	position: absolute;
	left: -25px; top: 10px;
	width: 0;
	height: 0;
	border: 25px solid transparent;
	border-top: 35px solid $tertiary-color;
}
