$x-margin: 2em;

header {
    @extend .gray;
    border-bottom: 1px solid $light-gray;
    padding: .5em 0;
    
    
    h1#title {
        float: left;
        margin-left: $x-margin;
        font-size: 1em; 
        text-transform: uppercase;         
        
        a {
            text-decoration: none;
            color: #000;
        }
    }

    nav {
        font-size: 1em;
        text-transform: lowercase;
        
        ul {
            list-style-type: none;
        }

        li {
            display: inline-block;
            margin-left: 1em;
        }

        a {
            color: #000;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    }
    
    ul.social-media {
        float: right;
        margin-right: $x-margin;
    }
}
