@media (max-width: 1050px) {
    .container {
        width: 90%;
        margin: auto;
    }

    header h1#title {
        float: none;
        text-align: center;
        font-size: 1.7em;
        margin-bottom: 0px;
    }

    section {
        padding: 30px 0px;
        
        h2 {
            text-align: center;
        }
    }

    ul.social-media img {
        opacity: 1;
    }

    .blurb {
        text-align: justify;
    }

    .about .blurb {
        width: 100%;
        font-size: 1.1em;
    }

    .skills li, .button {
        margin-bottom: 10px;
    }

    .work {
        .pic {
            float: none;
            width: 90%;
            text-align: center;
            margin: 0px auto 30px auto;
        
            img {
                max-width: 320px;;
            }
        }

        ul.skills {
            text-align: center;
        }

        .badge {
            display: block;
            width: 250px;
            margin: 30px auto 0px auto;
            opacity: 1;
        }
    }
    
    input.button {
        margin: auto;
        -webkit-appearance: none;
    }

    footer .links {
        display: block;
        margin-left: 0px;
    }
}
