@media (max-width: 1050px) {
    .container {
        width: 90%;
        margin: auto;
    }

    .lab {
        height: 300px;
    }
    
    header {
        padding-bottom: 0;
        position: static;
        
        h1#title {
            float: none;
            text-align: center;
            //font-size: 1.em;
            //margin-bottom: 0px;
            margin: 0 auto;
        }
    
        nav {
            margin-top: .5em;
            display: block;
            background-color: $light-gray;
            padding: 0;
            
            ul {
                padding: 0;
                
                li {
                    width: 30%;
                    margin: 0;
                    padding: .2em 0;
                    text-align: center;
                    border-right: 1px solid $gray;
                }
                
                li:last-child {
                    border-right: none;
                }
            }
        }
        
        .social-media {
            display: block;
            position: absolute;
            padding: 0;
            margin: 0;
 
            
            img {
                opacity: 1;
                width: 1.7em;
            }
        }
    }

    section {
        padding: 30px 0px;
        
        h2 {
            text-align: center;
        }
    }

    .blurb {
        text-align: center;
    }

    .about {
        .blurb {
            width: 100%;
            font-size: 1.1em;
        }
    }

    .work {
        img {
            display: block;
            float: none;
            width: 70%;
            text-align: center;
            margin: 0px auto 30px auto;
            max-width: 320px;;
        }

        ul.skills {
            text-align: center;
        }

        .badge {
            display: block;
            width: 250px;
            margin: 30px auto 0px auto;
            opacity: 1;
        }
    }
    
    input.button {
        margin: auto;
        -webkit-appearance: none;
    }

    footer .links {
        display: block;
        margin-left: 0px;
    }
}
