@media (min-width: 1050px) {
  .container {
    width: 900px;
    margin: auto; } }
@media (max-width: 1050px) {
  .container {
    width: 90%;
    margin: auto; }

  header h1#title {
    float: none;
    text-align: center;
    font-size: 1.7em;
    margin-bottom: 0px; }

  section {
    padding: 30px 0px; }
    section h2 {
      text-align: center; }

  ul.social-media img {
    opacity: 1; }

  .blurb {
    text-align: justify; }

  .about .blurb {
    width: 100%;
    font-size: 1.1em; }

  .skills li, .button, .skills li {
    margin-bottom: 10px; }

  .work .pic {
    float: none;
    width: 90%;
    text-align: center;
    margin: 0px auto 30px auto; }
    .work .pic img {
      max-width: 320px; }
  .work ul.skills {
    text-align: center; }
  .work .badge {
    display: block;
    width: 250px;
    margin: 30px auto 0px auto;
    opacity: 1; }

  input.button {
    margin: auto;
    -webkit-appearance: none; }

  footer .links {
    display: block;
    margin-left: 0px; } }
* {
  /*transition-duration: .1s;*/ }

html * {
  margin: 0; }

body {
  font-family: calibri, helvetica-neue, helvetica, arial, sans-serif;
  font-size: medium; }

em {
  font-weight: bold;
  font-style: normal; }

a, a:visited {
  opacity: 0.8; }

a.button, a:hover, a:focus, a:active {
  text-decoration: none;
  opacity: 1; }

h2 {
  font-size: 2.3em; }

.blurb {
  line-height: 1.3em;
  font-size: 1.1em;
  text-align: justify; }
  .blurb p {
    margin-bottom: 15px; }

section {
  padding: 75px 0px;
  color: #333; }
  section h2 {
    margin-bottom: 25px; }

ul.social-media {
  list-style-type: none; }
  ul.social-media li {
    display: inline-block; }
  ul.social-media img {
    width: 30px;
    margin-right: 2px;
    opacity: 0.8; }
  ul.social-media img:hover {
    opacity: 1; }

.button, .skills li {
  padding: 8px 25px;
  background-color: #f06;
  background-color: #75d;
  font-weight: bold;
  box-shadow: 2px 2px 0px #003;
  color: #fff; }

.button:hover, .skills li:hover {
  background-color: #3b3;
  text-decoration: none; }

input.button {
  width: 150px !important;
  border: none !important;
  border-radius: 0px !important;
  color: #fff !important;
  cursor: pointer; }

.clear {
  clear: both; }

.grid {
  background-image: url("resources/backgrounds/grid.png"); }

.horizontal {
  background-image: url("resources/backgrounds/horizontal.png"); }

.dashed {
  background-image: url("resources/backgrounds/dashed.png"); }

.vertical {
  background-image: url("resources/backgrounds/vertical.png"); }

.purple {
  background-color: #339; }

.green {
  background-color: #0f9712; }

.aqua {
  background-color: #0da47f; }

.blue {
  background-color: #3456c4; }

.gray {
  background-color: #e3e3e3;
  color: #333; }

.light-gray {
  background-color: #fafafa;
  color: #333; }

header {
  background-color: #333;
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px; }
  header h1#title {
    float: left;
    font-size: 2.2em; }
    header h1#title a {
      text-decoration: none;
      color: #000; }
  header nav ul {
    list-style-type: none;
    float: right;
    margin: 10px 40px; }
  header nav li {
    display: inline-block;
    width: 80px; }
  header nav a {
    color: #000;
    text-decoration: none; }
  header nav a:hover {
    text-decoration: underline; }

footer {
  padding: 15px 0px;
  background-color: #ccc;
  color: #333;
  text-align: center;
  text-transform: lowercase; }
  footer em {
    text-transform: uppercase; }
  footer .links {
    margin-left: 100px; }

.about img.gravatar {
  display: block;
  margin: auto;
  width: 150px;
  border: 2px solid #e3e3e3;
  box-shadow: 7px 7px 0px #bbb; }
.about ul.social-media {
  text-align: center;
  margin-top: 37px;
  margin-bottom: 15px;
  padding: 0; }
.about .info {
  display: none;
  margin: auto;
  width: 175px;
  color: #ddd;
  font-size: 1em; }
  .about .info img {
    margin-right: 10px; }
  .about .info a {
    color: #ddd; }
.about .blurb {
  margin: 30px auto;
  width: 55%;
  line-height: 1.4;
  font-size: 1.2em;
  text-align: justify; }

.skills li {
  cursor: crosshair; }

.work {
  border-bottom: 1px solid #e3e3e3; }
  .work .blurb {
    color: #000; }
  .work .pic {
    float: right;
    width: 40%;
    margin-left: 10%;
    margin-bottom: 20px; }
    .work .pic img {
      width: 100%; }
  .work ul.skills {
    padding: 0;
    list-style-type: none;
    margin-bottom: 40px; }
    .work ul.skills li {
      display: inline-block;
      margin-right: 5px;
      text-transform: lowercase; }
  .work .badge {
    width: 150px;
    margin-top: 80px;
    opacity: 0.7; }
  .work .badge:hover {
    opacity: 1; }

/*# sourceMappingURL=main.css.map */
