* {
  /*transition-duration: .1s;*/ }

html * {
  margin: 0; }

body {
  font-family: calibri, helvetica-neue, helvetica, arial, sans-serif;
  font-size: medium; }

em {
  font-weight: bold;
  font-style: normal; }

a, a:visited {
  opacity: 0.8; }

a.button, a:hover, a:focus, a:active {
  text-decoration: none;
  opacity: 1; }

h2 {
  font-size: 2.3em; }

.blurb {
  line-height: 1.3em;
  font-size: 1em; }
  .blurb p {
    margin-bottom: 15px; }

section {
  padding: 75px 0px;
  color: #333; }
  section h2 {
    margin-bottom: 25px; }

ul.social-media {
  list-style-type: none; }
  ul.social-media li {
    display: inline-block; }
  ul.social-media img {
    width: 1.3em;
    margin-right: 2px;
    opacity: 0.8; }
  ul.social-media img:hover {
    opacity: 1; }

img.gravatar {
  display: block;
  margin: auto;
  width: 150px;
  border: 2px solid #e3e3e3;
  box-shadow: 7px 7px 0px #bbb; }

.button {
  padding: 8px 25px;
  background-color: #75d;
  font-weight: bold;
  box-shadow: 2px 2px 0px #003;
  color: #fff; }

.button:hover {
  background-color: #3b3;
  text-decoration: none; }

input.button {
  width: 150px !important;
  border: none !important;
  border-radius: 0px !important;
  color: #fff !important;
  cursor: pointer; }

.clear {
  clear: both; }

.grid {
  background-image: url("resources/backgrounds/grid.png"); }

.horizontal {
  background-image: url("resources/backgrounds/horizontal.png"); }

.dashed {
  background-image: url("resources/backgrounds/dashed.png"); }

.vertical {
  background-image: url("resources/backgrounds/vertical.png"); }

.purple {
  background-color: #339; }

.green {
  background-color: #0f9712; }

.aqua {
  background-color: #0da47f; }

.blue {
  background-color: #3456c4; }

.gray, header, footer {
  background-color: #e3e3e3;
  color: #333; }

.light-gray {
  background-color: #fafafa;
  color: #333; }

#diamond, #finger {
  margin: auto;
  margin-bottom: 3em;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-bottom: 10px solid #f06;
  position: relative;
  top: -25px; }

#diamond:after, #finger:after {
  content: '';
  position: absolute;
  left: -25px;
  top: 10px;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-top: 35px solid #f06; }

header {
  border-bottom: 1px solid #d3d3d3;
  padding: .5em 0;
  position: relative; }
  header h1#title {
    float: left;
    margin-left: 2em;
    font-size: 1em;
    text-transform: uppercase; }
    header h1#title a {
      text-decoration: none;
      color: #000; }
  header nav {
    font-size: 1em;
    text-transform: lowercase; }
    header nav ul {
      list-style-type: none; }
    header nav li {
      display: inline-block;
      margin-left: 1em; }
    header nav a {
      color: #000;
      text-decoration: none; }
    header nav a:hover {
      text-decoration: underline; }
  header ul.social-media {
    position: absolute;
    top: .5em;
    right: 1em; }

footer {
  padding: .5em 0;
  text-align: center;
  text-transform: lowercase;
  font-size: 1em; }
  footer em {
    text-transform: uppercase; }
  footer .links {
    margin-left: 100px; }

#lab {
  display: none;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #222; }

#diamond, #finger {
  margin: auto;
  margin-bottom: 3em;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-bottom: 10px solid #f06;
  position: relative;
  top: -25px; }

#diamond:after, #finger:after {
  content: '';
  position: absolute;
  left: -25px;
  top: 10px;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-top: 35px solid #f06; }

#star-five {
  margin: 50px 0;
  position: relative;
  display: block;
  color: red;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px  solid red;
  border-left: 100px solid transparent;
  -moz-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg); }

#star-five:before {
  border-bottom: 80px solid red;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: '';
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg); }

#star-five:after {
  position: absolute;
  display: block;
  color: red;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid red;
  border-left: 100px solid transparent;
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  content: ''; }

.about .info {
  display: none;
  margin: auto;
  width: 175px;
  color: #ddd;
  font-size: 1em; }
  .about .info img {
    margin-right: 10px; }
  .about .info a {
    color: #ddd; }
.about .blurb {
  margin: 30px auto;
  width: 50%;
  line-height: 1.4;
  font-size: 1.1em;
  text-align: left; }
.about .social-media {
  display: none; }

.work {
  border-bottom: 1px solid #d3d3d3;
  text-align: right; }
  .work h2 {
    font-size: 1.5em;
    text-transform: uppercase; }
    .work h2 a {
      text-decoration: none;
      color: #000; }
  .work h2:before {
    content: '[ '; }
  .work h2:after {
    content: ' ]'; }
  .work .blurb {
    color: #000; }
  .work img {
    float: right;
    width: 40%;
    margin-left: 10%;
    margin-bottom: 20px; }
  .work .badge {
    width: 150px;
    margin-top: 80px;
    opacity: 0.7; }
  .work .badge:hover {
    opacity: 1; }

@media (min-width: 1050px) {
  .container {
    width: 900px;
    margin: auto; }

  #lab {
    height: 500px; } }
@media (max-width: 1050px) {
  .container {
    width: 90%;
    margin: auto; }

  #lab {
    height: 300px; }

  header {
    padding-bottom: 0;
    position: static; }
    header h1#title {
      float: none;
      text-align: center;
      margin: 0 auto; }
    header nav {
      margin-top: .5em;
      display: block;
      background-color: #d3d3d3;
      padding: 0; }
      header nav ul {
        padding: 0; }
        header nav ul li {
          width: 30%;
          margin: 0;
          padding: .2em 0;
          text-align: center;
          border-right: 1px solid #e3e3e3; }
        header nav ul li:last-child {
          border-right: none; }
    header .social-media {
      display: block;
      position: absolute;
      padding: 0;
      margin: 0; }
      header .social-media img {
        opacity: 1;
        width: 1.7em; }

  section {
    padding: 30px 0px; }
    section h2 {
      text-align: center; }

  .blurb {
    text-align: center; }

  .about .blurb {
    width: 100%;
    font-size: 1.1em; }

  .work img {
    display: block;
    float: none;
    width: 70%;
    text-align: center;
    margin: 0px auto 30px auto;
    max-width: 320px; }
  .work ul.skills {
    text-align: center; }
  .work .badge {
    display: block;
    width: 250px;
    margin: 30px auto 0px auto;
    opacity: 1; }

  input.button {
    margin: auto;
    -webkit-appearance: none; }

  footer .links {
    display: block;
    margin-left: 0px; } }

/*# sourceMappingURL=main.css.map */
