/* Global */
* {
  /*transition-duration: .1s;*/
}

html * {
	margin: 0;
}

body {
  font-smoothing: antialiased;
	font-family: helvetica-neue,helvetica,arial,sans-serif;
  font-size: small;
  background-color: #ddd;
}

em {
  font-weight: bold;
  font-style: normal;
}

a {
}

a:hover, a:focus, a:active  {
}

.skills li, .button {
  padding: 8px 25px;
  background-color: #f06;
  color: #fff;
  font-weight: bold;
  box-shadow: 1px 1px 0px #ff6;
}

.skills li:hover, .button:hover {
  background-color: #f93;
  text-decoration: none;
}

.clear {
  clear: both;
}

/* Header */
header {
  background-color: #333;
  padding-top: 30px;
  padding-bottom: 30px;
}

header h1#title {
  float: left;
  color: #fff;
  font-size: 2.2em;
  text-transform: uppercase;
}

nav ul {
  list-style-type: none;
  float: right;
  margin: 10px 40px;
}

nav li {
  display: inline-block;
  width: 80px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  text-decoration: underline;
}

/* Sections */
section {
  padding: 75px 0px;
  color: #fff;
}

section h2 {
  margin-bottom: 25px;
  font-size: 2.3em;
}

.purple {
  background-color: #339;
  background-image: url("resources/backgrounds/vertical.png");
}

.green {
  background-color: #0f9712;
  background-image: url("resources/backgrounds/grid.png");
}

.aqua {
  background-color: #0da47f;
  background-image: url("resources/backgrounds/horizontal.png");
}

.blue {
  background-color: #3456c4;
  background-image: url("resources/backgrounds/dashed.png");
}

.gray {
  background-color: #dedede;
  background-image: url("resources/backgrounds/spotted.png");
  color: #333;
}

.blurb {
  font-size: 1.1em;
}

.about img.gravatar {
  display: block;
  margin: auto;
  width: 150px;
  border: 1px solid #888;
  border-radius: 1px;
  box-shadow: 7px 7px 0px #ff6;
}

.about ul.social-media {
  text-align: center;
  margin-top: 37px;
  margin-bottom: 15px;
  padding: 0;
}

ul.social-media {
  list-style-type: none;
}

ul.social-media li {
  display: inline-block;
}

ul.social-media img {
  width: 30px;
  margin-right: 2px;
  opacity: 0.8;
}

ul.social-media img:hover {
  opacity: 1;
}

.about .info {
  margin: auto;
  width: 175px;
  color: #ddd;
  font-size: 1em;
}

.about .info img {
  margin-right: 10px;
}

.about .info a {
  color: #ddd;
}

.about .blurb {
  margin: 30px auto;
  width: 60%;
}

.work .pic {
  float: right;
  width: 40%;
  margin-left: 10%;
}

.work ul.skills {
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;
}

.work ul.skills li {
  display: inline-block;
  margin-right: 5px;
  text-transform: lowercase;
}

.work .badge {
  width: 150px;
  margin-top: 80px;
}

.contact h2, .contact h3 {
  text-align: center;
}

.contact h3 {
  margin-top: -20px;
  margin-bottom: 75px;
  color: #93b37f;
}

.contact .info {
  width: 40%;
  float: right;
}

.contact .gravatar {
  width: 80px;
  border: 1px solid #888;
}

.contact .info ul {
  list-style-type: none;
  padding: 0px;
  margin-top: 30px;
}

.contact .info li:last-child {
  margin-top: 1em;
}

.contact .info h4 {
  display: inline;
}

.contact form input, .contact form textarea {
  display: block;
  margin-bottom: 10px;
  color: #444;
  font-size: 1.3em;
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 10px;
}

.contact form input {
  width: 30%;
}

.contact form textarea {
  width: 40%;
  height: 200px;
}

input.button {
  width: 150px !important;
  border: none !important;
  border-radius: 0px !important;
  color: #fff !important;
}

footer {
  padding: 15px 0px;
  background-color: #ccc;
  color: #333;
  text-align: center;
}

