/* Global */
* {
  transition-duration: .1s;
}

html * {
	margin: 0;
}

body {
	font-family: helvetica-neue,helvetica,arial,sans-serif;
  background-color: #ddd;
}

a {
}

a:hover, a:focus, a:active  {
}

.clear {
  clear: both;
}

.container {
  width: 85%;
  margin: auto;
}

/* Header */
header {
  background-color: #333;
  padding: 30px 0px;
}

header h1#title {
  float: left;
  color: #fff;
  font-size: 2.2em;
  text-transform: uppercase;
}

nav ul {
  list-style-type: none;
  float: right;
  margin: 10px 40px;
}

nav li {
  display: inline-block;
  width: 80px;
}

nav a {
  text-decoration: none;
  text-transform: lowercase;
  color: #fff;
}

nav a:hover {
  font-weight: bold;
}

nav li:last-child a {
  padding: 10px 30px;
  background-color: #f06;
  color: #fff;
  font-weight: bold;
  box-shadow: 1px 1px 0px #ff6;
}

nav li:last-child a:hover {
  background-color: #f93;
}

/* Sections */
section {
  padding: 20px 0px;
  color: #fff;
}

section h2 {
  text-transform: lowercase;
  margin-bottom: 25px;
}

section h2:before {
  content: "\:";
}

section h2:after {
  content: "\:";
}

section h3 {
  display: none;
  font-size: 1em;
  text-transform: lowercase;
}

section ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

section li {
  display: inline-block;
}

section#writings {
  background-color: #339;
}

section#portfolio {
  background-color: #30f;
}

section#portfolio img {
  height: 200px;
  opacity: .8;
  cursor: pointer;
}

section#portfolio img:hover {
  opacity: 1;
}

section#feed {
  background-color: #0c9;
}

/* Footer */
footer {
  padding: 50px 0px;
}

footer img#gravatar {
  float: left;
  border-radius: 55px;
  margin: 0px;
  width: 100px;
}

footer ul#social-media {
  float: left;
  margin: 30px 0px 0px 0px;
  list-style-type: none;
}

footer ul#social-media li {
  display: inline;
}

footer ul#social-media img {
  border-radius: 23px;
  opacity: .7;
}

footer ul#social-media img:hover {
  opacity: 1;
}

footer ul#contact {
  float: right;
  list-style-type: none;
}

footer ul#contact li {
}

footer ul#contact h3 {
  display: inline;
  font-size: normal;
  font-weight: bold;
  text-transform: lowercase;
}

footer ul#contact li:last-child {
  margin-top: 20px;
}
