@media (max-width: 1050px) {
  .container {
    width: 90%;
    margin: auto;
  }

  header h1#title {
    float: none;
    text-align: center;
    font-size: 1.7em;
    margin-bottom: 0px;
  }

  nav ul {
    margin: 20px auto 0px auto;
    padding: 0px;
    float: none;
    text-align: center;
  }

  nav li:last-child {
    display: block;
    margin: auto;
    margin-top: 20px;
  }

  section {
    padding: 30px 0px;
  }

  section h2 {
    text-align: center;
  }

  ul.social-media img {
    opacity: 1;
  }

  .blurb {
    text-align: justify;
  }

  .about .blurb {
    width: 100%;
    font-size: 1.1em;
  }

  .skills li, .button {
    margin-bottom: 10px;
  }

  .work .pic {
    float: none;
    width: 90%;
    text-align: center;
    margin: 0px auto 30px auto;
  }

  .work .pic img {
    max-width: 320px;;
  }

  .work ul.skills {
    text-align: center;
  }

  .work .badge {
    display: block;
    width: 250px;
    margin: 30px auto 0px auto;
    opacity: 1;
  }

  .contact h3 {
    margin-bottom: 30px;
  }

  .contact .info {
    float: none;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
  }

  .contact .gravatar {
    display: none;
  }

  .contact .info ul {
    text-align: center;
  }

  .contact form {
  }

  .contact form input, .contact form textarea {
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
  }

  input.button {
    margin: auto;
    -webkit-appearance: none;
  }

  footer .links {
    display: block;
    margin-left: 0px;
  }


}
