doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        link(rel='stylesheet', href='/lib/bootstrap/bootstrap.min.css')
        link(rel='stylesheet', href='/lib/jquery-ui/jquery-ui.min.css')
        link(rel='stylesheet', href='/lib/jquery-ui/jquery-ui.structure.min.css')
        link(rel='stylesheet', href='/lib/jquery-ui/jquery-ui.theme.min.css')

        title Mark Worth's Words of Wisdom
        link(rel='apple-touch-icon', href='./img/favicon.png')
        link(rel='stylesheet', href='./css/wisdom.css')

    body
        main Let it be.

        div#github
            a(href='https://github.com/richard92m/richardmarquez.org')
                img(src='./img/octocat.png')

        script(src='./lib/jquery.min.js')
        script(src='./lib/bootstrap/bootstrap.min.js')
        script(src='./lib/jquery-ui/jquery-ui.min.js')
        script(src='./js/wisdom.js')
