extends layout

block content
  #shade
  #contact
    h2 Contact
    form(action='/', name='contact', method='post')
        input(name='name', type='text', placeholder='Name', id='name')
        input(name='email', type='text', placeholder='Email', id='email')
        textarea(name='message', cols='40', rows='10', placeholder='Message', id='message')
        input(name='submit', type='submit', placeholder='Send', id='submit')

  #banner
    span#hire &middot; Available for work &middot;

  svg#deep

  header
    .social-media
      a(href='https://www.facebook.com/richard92m')
        img(src='/img/social_media/facebook.png', alt='Facebook')
      a(href='http://www.linkedin.com/pub/richard-marquez/84/927/733/')
        img(src='/img/social_media/linkedin.png', alt='LinkedIn')
      a(href='https://github.com/richard92m')
        img(src='/img/social_media/github.png', alt='GitHub')

    h1#title
      a(href='/') { Richard Marquez }

    nav
      a(href='https://github.com/richard92m') Code
      a(href='http://careers.stackoverflow.com/richard92m') R&eacute;sum&eacute;
      a#contact-link Contact

    .clear

  section.about(itemscope, itemtype='http://schema.org/Person')
    .container
      meta(itemprop='url', content='http://marquez.space')
      meta(itemprop='image', content='http://marquez.space/img/richardmarquez.jpg')
      meta(itemprop='birthDate', content='1992-05-06')
      //meta(itemprop='description', content='3rd person bio')


      .blurb
        p
          | Hi, I'm <span itemprop="name">Richard Marquez</span>. I'm a freelance
          | <span itemprop="jobTitle">software developer</span>, an
          | insatiable learner, and a tinkerer. Whether it's programming or
          | web design, networking or electrical engineering, you can’t keep my
          | hands away from it.

  //#diamond
  .divider
    .square
    .square
    .square


  .container
    a.work(href='http://freedomfog.org')
      img.logo(src='img/portfolio/logos/freedomfog.png', alt='FreedomFog')
      img.thumb(src='img/portfolio/thumbs/freedomfog.jpg', alt='FreedomFog')

    a.work(href='nocomments')
      img.logo(src='img/portfolio/logos/nocomments.png', alt='nocomments.css')
      img.thumb(src='img/portfolio/thumbs/nocomments.jpg', alt='nocomments.css')

    a.work(href='https://itunes.apple.com/us/app/winona-state-upac/id944827063')
      img.logo(src='img/portfolio/logos/upac.png', alt='Winona State UPAC app')
      img.thumb(src='img/portfolio/thumbs/upac.jpg', alt='Winona State UPAC app')

    a.work(href='http://dotnetnuke.com')
      img.logo(src='img/portfolio/logos/uway.png', alt='United Way template')
      img.thumb(src='img/portfolio/thumbs/uway.jpg', alt='United Way template')

    a.work(href='http://stage-gate.com')
      img.logo(src='img/portfolio/logos/miller.png', alt='Miller Ingenuity')
      img.thumb(src='img/portfolio/thumbs/miller.jpg', alt='Miller Ingenuity')

    a.work(href='word')
      img.logo(src='img/portfolio/logos/word.png', alt='Word')
      img.thumb(src='img/portfolio/thumbs/word.jpg', alt='Word')

    a.work(href='wopr')
      img.logo(src='img/portfolio/logos/wopr.png', alt='W.O.P.R.')
      img.thumb(src='img/portfolio/thumbs/wopr.jpg', alt='W.O.P.R.')

    a.work(href='deep')
      img.logo(src='img/portfolio/logos/spaceplumbing.png', alt='space.plumbing')
      img.thumb(src='img/portfolio/thumbs/spaceplumbing.jpg', alt='space.plumbing')


  .clear

  footer
    p &copy; <em>Richard Marquez</em> 2015
