doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    //meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    //meta(name='description', content='Richard Marquez')
    link(rel='apple-touch-icon', href='/img/favicon.png')
    link(rel='stylesheet', href='/css/nocomments.css')
  body
    | <a href="https://github.com/richard92m/nocomments.css"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

    header
      h1#title
        a(href='nocomments') nocomments<em>.css</em>

      hr

      nav
        a(href='#firefox') Firefox
        a(href='#safari') Safari
        a(href='#ie') IE
        a(href='#chrome') Chrome

      div
        p
          | I don't enjoy seeing the comments on most websites. <br>
          | So I turned them off. You can too.
        p
          | Want a site added to the list? <a href="mailto:richard92m@me.com">Let me know</a>.

      .clear

    section#firefox
      .container
        img(src='img/browsers/firefox.png', alt='Firefox')

        h2 Firefox

        ol
          li Save <a target="_blank" href="nocomments.css"><pre>nocomments.css</pre></a> to your computer
          li Find your Firefox profile: in Firefox, choose <em>Help > Troubleshooting Information</em>
          li Under <em>Application Basics</em>, choose <em>Show Folder</em>
          li Open the <pre>chrome/</pre> folder (create it if it doesn't exist)
          li Copy <pre>nocomments.css</pre> to <pre>chrome/</pre> as <pre>userContent.css</pre>
          li Restart Firefox

    section#safari
      .container
        img(src='img/browsers/safari.png', alt='Safari')

        h2 Safari

        ol
          li Save <a target="_blank" href="nocomments.css"><pre>nocomments.css</pre></a> to your computer
          li In Safari, choose <em>Safari > Preferences > Advanced</em>
          li Under <em>Style sheet</em> select <em>Other...</em> and choose <pre>nocomments.css</pre>
          li Restart Safari

    section#ie
      .container
        img(src='img/browsers/ie.png', alt='Internet Explorer')

        h2 Internet Explorer

        ol
          li Save <a target="_blank" href="nocomments.css"><pre>nocomments.css</pre></a> to your computer
          li In Internet Explorer, choose the <em>Tools</em> icon > <em>Internet options > General > Accessibility</em>
          li Check the <em>Format documents using my style sheet</em> box
          li <em>Browse</em> and choose <pre>nocomments.css</pre>
          li Restart Internet Explorer

    section#chrome
      .container
        img(src='img/browsers/chrome.png', alt='Chrome')

        h2 Chrome

        ol
          li Save <a target="_blank" href="nocomments.css"><pre>nocomments.css</pre></a> to your computer
          li Install the <a target="_blank" href="https://chrome.google.com/webstore/detail/stylish/fjnbnpbmkenffdnngjfgmeleoegfcffe?hl=en">Stylish</a> extension
          li Click the new <em>Stylish</em> button <em>> Manage installed styles > Write new style</em>
          li Open <pre>nocomments.css</pre> and copy the entire contents to clipboard
          li Paste contents to the <em>Code</em> area in Stylish
          li <em>Save</em> new style

    footer
      p By <a href="http://marquez.space">Richard Marquez</a>

    // Google Analytics
    script.
      (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
                function () {
                  (b[l].q = b[l].q || []).push(arguments)
                });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = 'https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
      }(window, document, 'script', 'ga'));
      ga('create', 'UA-58631802-1', 'auto');ga('send', 'pageview');

