.work:hover {
    @extend .gray;
}

.work:nth-child(odd) {
    margin-right: 5%;
}

.work:nth-child(even) {
}

.work {
    transition-duration: .3s;

    float: left;
    display: inline-block;
    width: 40%;
    padding: 3%;
    min-height: 150px;
    margin-bottom: 3em;
    color: inherit;
    text-decoration: none;
    
    .popup {
        z-index: 1000;
        display: none;
        position: fixed;
        width: 20%;
        top: 50px;
        padding: 4em;
        margin: 0;
        background-color: #fff;
        border: .7em solid $light-gray;
        text-align: center;
        
        -webkit-box-shadow: 0px 0px 31px 2px rgba(0,0,0,0.30);
        -moz-box-shadow: 0px 0px 31px 2px rgba(0,0,0,0.30);
        box-shadow: 0px 0px 31px 2px rgba(0,0,0,0.30);

        img {
            width: 100%;
        }
    }
    
    h2 {
        width: 100%;
        padding: .2em 0px;
        margin-bottom: 1em;
        border-top: 1px solid $light-gray;
        border-bottom: 1px solid $light-gray;
        font-size: 1.5em;
        text-transform: uppercase;
        
        a {
            text-decoration: none;
            color: #000;
        }
    }
    
    .blurb {
        color: #000;
        font-size: .9em;
    }
    
    ul {
        padding: 0;
        list-style-type: none;
        
        li {
            width: 100%;
            border-bottom: 1px solid $light-gray;

            a {
                display: inline-block;
                width: 100%;
                font-size: 1.2em;
                text-transform: lowercase;
                margin: .2em 0;
                text-decoration: none;
            }
        }
    }
}
