* {
  /*transition-duration: .1s;*/ }

html * {
  margin: 0; }

body {
  font-family: calibri, helvetica-neue, helvetica, arial, sans-serif;
  font-size: medium; }

em {
  font-weight: normal;
  font-style: normal;
  color: #00d; }

a, a:visited {
  opacity: 0.8; }

a.button, a:hover, a:focus, a:active {
  text-decoration: none;
  opacity: 1; }

h2 {
  font-size: 2.3em; }

.blurb {
  line-height: 1.3em;
  font-size: 1em; }
  .blurb p {
    margin-bottom: 15px; }

section {
  color: #333; }
  section h2 {
    margin-bottom: 25px; }

ul.social-media {
  list-style-type: none; }
  ul.social-media li {
    display: inline-block; }
  ul.social-media img {
    width: 1.3em;
    margin-right: 2px;
    opacity: 0.8; }
  ul.social-media img:hover {
    opacity: 1; }

img.gravatar {
  display: block;
  margin: auto;
  width: 150px;
  border: 2px solid #e3e3e3;
  box-shadow: 7px 7px 0px #bbb; }

.button {
  padding: 8px 25px;
  background-color: #75d;
  font-weight: bold;
  box-shadow: 2px 2px 0px #003;
  color: #fff; }

.button:hover {
  background-color: #3b3;
  text-decoration: none; }

input.button {
  width: 150px !important;
  border: none !important;
  border-radius: 0px !important;
  color: #fff !important;
  cursor: pointer; }

.clear {
  clear: both; }

.gray, header, footer, .work:hover {
  background-color: #e3e3e3;
  color: #333; }

.light-gray {
  background-color: #fafafa;
  color: #333; }

header {
  border-bottom: 1px solid #d3d3d3;
  padding: .5em 0;
  position: relative;
  margin-top: -10px; }
  header h1#title {
    float: left;
    margin-left: 2em;
    font-size: 1em;
    text-transform: uppercase; }
    header h1#title a {
      text-decoration: none;
      color: #000; }
  header nav {
    font-size: 1em;
    text-transform: lowercase; }
    header nav ul {
      list-style-type: none; }
    header nav li {
      display: inline-block;
      margin-left: 1em; }
    header nav a {
      color: #000;
      text-decoration: none; }
    header nav a:hover {
      text-decoration: underline; }
  header ul.social-media {
    position: absolute;
    top: .5em;
    right: 1em; }

footer {
  padding: .5em 0;
  text-align: center;
  text-transform: lowercase;
  font-size: 1em; }
  footer em {
    text-transform: uppercase; }
  footer .links {
    margin-left: 100px; }

#deep {
  width: 100%; }

#diamond {
  margin: auto;
  margin-bottom: 6em;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-bottom: 10px solid #f06;
  position: relative;
  top: -25px; }

#diamond:after {
  content: '';
  position: absolute;
  left: -25px;
  top: 10px;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-top: 35px solid #f06; }

#star-five {
  margin: 50px 0;
  position: relative;
  display: block;
  color: red;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px  solid red;
  border-left: 100px solid transparent;
  -moz-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg); }

#star-five:before {
  border-bottom: 80px solid red;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: '';
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg); }

#star-five:after {
  position: absolute;
  display: block;
  color: red;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid red;
  border-left: 100px solid transparent;
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  content: ''; }

.about {
  margin: 6em 0px; }
  .about .info {
    display: none;
    margin: auto;
    width: 175px;
    color: #ddd;
    font-size: 1em; }
    .about .info img {
      margin-right: 10px; }
    .about .info a {
      color: #ddd; }
  .about .blurb {
    margin: 30px auto;
    width: 50%;
    line-height: 1.4;
    font-size: 1.1em;
    text-align: center; }
  .about .social-media {
    display: none; }

.work:nth-child(odd) {
  margin-right: 5%; }

.work {
  transition-duration: .3s;
  float: left;
  display: inline-block;
  width: 40%;
  padding: 3%;
  min-height: 150px;
  margin-bottom: 3em;
  color: inherit;
  text-decoration: none; }
  .work .popup {
    z-index: 1000;
    display: none;
    position: fixed;
    width: 20%;
    top: 50px;
    padding: 4em;
    margin: 0;
    background-color: #fff;
    border: 0.7em solid #d3d3d3;
    text-align: center;
    -webkit-box-shadow: 0px 0px 31px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 31px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 31px 2px rgba(0, 0, 0, 0.3); }
    .work .popup img {
      width: 100%; }
  .work h2 {
    width: 100%;
    padding: .2em 0px;
    margin-bottom: 1em;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    font-size: 1.5em;
    text-transform: uppercase; }
    .work h2 a {
      text-decoration: none;
      color: #000; }
  .work .blurb {
    color: #000;
    font-size: .9em; }
  .work ul {
    padding: 0;
    list-style-type: none; }
    .work ul li {
      width: 100%;
      border-bottom: 1px solid #d3d3d3; }
      .work ul li a {
        display: inline-block;
        width: 100%;
        font-size: 1.2em;
        text-transform: lowercase;
        margin: .2em 0;
        text-decoration: none; }

@media (min-width: 1050px) {
  .container {
    width: 900px;
    margin: auto; }

  #deep {
    height: 500px; } }
@media (max-width: 1050px) {
  .container {
    width: 90%;
    margin: auto; }

  #deep {
    height: 300px; }

  header {
    padding-bottom: 0;
    position: static; }
    header h1#title {
      float: none;
      text-align: center;
      margin: 0 auto; }
    header nav {
      margin-top: .5em;
      display: block;
      background-color: #d3d3d3;
      padding: 0; }
      header nav ul {
        padding: 0; }
        header nav ul li {
          width: 30%;
          margin: 0;
          padding: .2em 0;
          text-align: center;
          border-right: 1px solid #e3e3e3; }
        header nav ul li:last-child {
          border-right: none; }
    header .social-media {
      display: block;
      position: absolute;
      padding: 0;
      margin: 0; }
      header .social-media img {
        opacity: 1;
        width: 1.7em; }

  .work:nth-child(odd) {
    margin-right: auto; }

  .work {
    transition-duration: .3s;
    float: none;
    display: block;
    width: 90%;
    padding: 0;
    margin: 0em auto 3em auto;
    min-height: 0px; }
    .work h2 {
      text-align: center; }

  .blurb {
    text-align: center; }

  .about .blurb {
    width: 100%;
    font-size: 1.1em; }

  input.button {
    margin: auto;
    -webkit-appearance: none; }

  footer .links {
    display: block;
    margin-left: 0px; } }

/*# sourceMappingURL=main.css.map */
